body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  
}
.imgviking {
  width: 300px;
}
#imgBorde {
  border: 2px solid red;
}
